<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>what's your method?<%= method %></p>
    <form action="/" method="post">
      <input type="text" name="1" value="P001">
      <input type="text" name="2" value="S001">
      <input type="text" name="3" value="M001">
      <input type="text" name="4" value="4">
      <input type="text" name="5" value="5">
      <input type="text" name="6" value="6">
      <input type="date" name="7" value="1995-06-15">
      <input type="hidden" name="8" value="8">
      <input type="hidden" name="9" value="9">
      <input type="hidden" name="10" value="1">
      <input type="hidden" name="11" value="2">
      <input type="hidden" name="12" value="3">
      <input type="hidden" name="13" value="4">
      <input type="hidden" name="14" value="5">
      <input type="hidden" name="15" value="6">
      <input type="hidden" name="16" value="7">
      <input type="hidden" name="17" value="1">
      <input type="hidden" name="18" value="1">
      <input type="hidden" name="19" value="1">
      <input type="hidden" name="20" value="11">
      <input type="hidden" name="21" value="1">
      <input type="hidden" name="22" value="1">
      <input type="hidden" name="23" value="1">
      <input type="hidden" name="24" value="1">
      <input type="hidden" name="25" value="1">
      <input type="hidden" name="26" value="1">
      <input type="hidden" name="27" value="1">
      <input type="hidden" name="28" value="OLD">
      <input type="hidden" name="29" value="1">
      <input type="submit">
    </form>
    <table border="1">
      <th>No</th>
      <th>1.<br>프로젝트코드</th>
      <th>2.<br>서비스코드</th>
      <th>3.<br>관리코드</th>
      <th>4.<br>프로젝트명</th>
      <th>5.<br>신규 점검유형</th>
      <th>6.<br>기존 점검유형</th>
      <th>7.<br>Opne일</th>
      <th>8.<br>관계사명</th>
      <th>9.<br>담당업체</th>
      <th>10.<br>담당부서</th>
      <th>11.<br>담당자</th>
      <th>12.<br>연락처</th>
      <th>13.<br>담당업체</th>
      <th>14.<br>담당부서</th>
      <th>15.<br>담당자</th>
      <th>16.<br>연락처</th>
      <th>17.<br>모의해킹</th>
      <th>18.<br>소스코드 진단</th>
      <th>19.<br>인프라 진단</th>
      <th>20.<br>비고</th>
      <th>21.<br>신규투자(회사)</th>
      <th>22.<br>사업팀요청(자체투자)</th>
      <th>23.<br>사내시스템</th>
      <th>24.<br>대외인증</th>
      <th>25.<br>그룹공통</th>
      <th>26.<br>사업팀요청(관계사)</th>
      <th>27.<br>멤버사진단</th>
      <th>28.<br>23년 관리코드</th>
      <th>29.<br>23년 이관 현황</th>
      <tr>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
      </tr>
    <% for (const project of dbtest) { %>
      <tr>
        <td><%= project.seq %></td>
        <td><%= project.project_code %></td>
        <td><%= project.service_code %></td>
        <td><%= project.manage_code %></td>
        <td><%= project.project_name %></td>
        <td><%= project.new_inspectiontype %></td>
        <td><%= project.old_inspectiontype %></td>
        <td><%= formatDate(project.open_date) %></td>
        <td><%= project.relative_comp %></td>
        <td><%= project.comp1 %></td>
        <td><%= project.part1 %></td>
        <td><%= project.manager1 %></td>
        <td><%= project.manager1_phone %></td>
        <td><%= project.comp2 %></td>
        <td><%= project.part2 %></td>
        <td><%= project.manager2 %></td>
        <td><%= project.manager2_phone %></td>
        <td><%= project.pentest %></td>
        <td><%= project.source_code %></td>
        <td><%= project.infra %></td>
        <td><%= project.note %></td>
        <td><%= project.check1 %></td>
        <td><%= project.check2 %></td>
        <td><%= project.check3 %></td>
        <td><%= project.check4 %></td>
        <td><%= project.check5 %></td>
        <td><%= project.check6 %></td>
        <td><%= project.check7 %></td>
        <td><%= project.old_manage_code %></td>
        <td><%= project.old_project %></td>
      </tr>
    <% } %>
    <% function formatDate(dateString) {
      const date = new Date(dateString);
      const yy = date.getFullYear().toString().slice(-2);
      const mm = (date.getMonth() + 1).toString().padStart(2, '0');
      const dd = date.getDate().toString().padStart(2, '0');
      const dayOfWeek = date.toLocaleDateString('ko-KR', { weekday: 'short' });
      return `${yy}.${mm}.${dd}(${dayOfWeek})`;
    } %>
    </table>
    
  </body>
</html>
